:root {
    --red: #a80f0f;
    --orange: #94c615;
    --green: #5df243;
    --blue: #428cd6;
    --yelow: #cccc20;
    --purple: #ab15d8;
    --brown: #510a02;
    --black: #000000;
    --White: #ffffff;
    --font-one: sans-serif, times, arial
    --font-two: helvetica, sans-serif, times
}

